  .pre-footer-container {
    width: 1280px;
    height: 1296px;
    background-image: url(../IMG/pre-footer/pre-footer-background-interfaces.svg);
    position: relative;
    margin-top: 30px;
  }
  .pre-footer-clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    z-index: 2;
    overflow: hidden;
  }
  .cloud {
    position: absolute;
    height: auto;
    opacity: 0.8;
  }
  .cloud:nth-child(1) {
    top: 86px;
    width: 387px;
    height: 181px;
    animation: moveCloud 15s linear infinite;
  }
  .cloud:nth-child(2) {
    top: 243px;
    width: 265px;
    height: 124px;
    animation: moveCloud 25s linear infinite;
    animation-delay: -5s;
  }
  .cloud:nth-child(3) {
    top: 545px;
    width: 378px;
    height: 181px;
    animation: moveCloud 20s linear infinite;
    animation-delay: -1s;
  }
  @keyframes moveCloud {
    from 
    {
      transform: translateX(-150px);
    }
    to 
    {
      transform: translateX(calc(100vw + 150px));
    }
  }
  .pre-footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
    position: absolute;
    z-index: 2;
    top: 215px;
    transform: translateY(-50%);
  }
  .title-pre-footer {
    width: 729px;
    max-height: 171px;
    z-index: 2;
  }
  .title-pre-footer h2{
    font-weight: normal;
      font-family: 'Lato', sans-serif;
      text-align: left; 
      font-weight: 500;
      line-height: 56.7px;
  }

  .pre-footer-form {
    display: flex;
    margin-top: 36px;
    margin-bottom: 46px;
    gap: -5px;
    padding: 0;
    border-radius: 111px;
    box-shadow: 0 4px 0 #281973;
  }

  .pre-footer-form input {
    color: hsla(0, 0%, 0%, 0.27);
    background-color: #ECECEC;
    letter-spacing: 2px;
    text-align: start;
    padding-left: 30px;
    width: 562px;
    height: 84px;
    border-radius: 111px 0 0 111px;
    border: 8px solid #ffffff;
    font-size: 20px;
    }
    .suscribirse{
    color: white;
    background-color: #83C252;
    width: 218px;
    height: 82px;
    box-sizing: border-box;
    font-weight: 800;
    border-radius: 0 111px 111px 0;
    border: 8px solid #ffffff;
    font-size: 20px;
    cursor: pointer;
    
    }
  .pre-footer-form input, .pre-footer-form button {
    font-size: 20px;
    border: 8px solid #ffffff;
  }
  .pre-footer-info {
    width: 578px;
    height: 81px;
  }
  .pre-footer-info a{
    color: black;
    cursor: pointer;
  }
  .age-restriction {
    margin-top: 31px;
    width: 100%;
 }
 .caracter-gifs {
     width: 100%;
     height: auto;
     position: relative;
     z-index: 2;
     bottom: 0;
    
   }
   
   .gif1, .gif2, .gif3 {
 
     position: absolute;
     
   
   }
   
   
   .gif1 {
    top: 370px;
    left: 10px;
     width: 480px;
    height: 480px;
  }
  
  .gif2 {
    left: 20%;
    top: 350px;
    width: 509px;
    height: 509px;
  }
  
  .gif3 {
    left: 350px;
    top: 150px;
    width: 561px;
  }

   

   .spritesheet{
    position: absolute;
    top: 60px;
    left: 70%;
    
    background-image: url("../spritestrip.webp");
    width: 138px;
    height: 139px;
    animation: correr 1s steps(6) infinite;
   }
   @keyframes correr{
    0%{
      background-position: 0px;
    }
    100%{
      background-position: -832px;
    }
   }
   

.pajaro{
  height: 90px;
  width: 55px;
  margin: auto;
  background: url(../pajaro.png) repeat-x;
  background-size: 430px 70px;
  animation: volar .8s steps(8) infinite;
  position: absolute;
 
  top: 60px;
  left: 15%;
}

@keyframes volar {
  0% {
    background-position: 0
  }
  100% {
    background-position: -430px
  }
}

.spritesheet-pj1{
  position: absolute;
  top: 400px;
    left: 80%;
    width: 200px;
    height: 200px;
    background-image: url('../spritesheet-pj1.png');
    animation: posicionEnX 0.2s steps(5) infinite, posicionEnY 0.6s steps(3) infinite;
    background-size: 500% 300%;
}
@keyframes posicionEnX {
  0%{
      background-position-x: 0px;
  }
  100%{
      background-position-x: -1000px;
  }
}

@keyframes posicionEnY  {
  0%{
      background-position-y: 0px;
  }
  100%{
      background-position-y: -600px;
  }
}


   