/*sección cinco*/

.content-container5 {
    width: 1280px;
    height: 1443px;
    position: relative;
    background-image: url(../IMG/seccion-5/section5-background.svg);
    overflow: hidden;
}

.content-container5 img {
    width: 100%;
    height: auto; /* Mantener la relación de aspecto */
}

.container5-info {
    margin-left: 100px;
    display: flex;
    align-items: flex-start; /* Asegura que los elementos dentro estén alineados hacia la parte superior */
    gap: 100px;
}

/* Contenedor del título */
.title-container5 {
    position: absolute; /* Colocamos el título de manera absoluta para controlar su posición */
    top: 309px; /* Ubica el título 309px desde la parte superior */
    width: 740px; /* Ancho fijo del contenedor del título */
    height: 171px; /* Alto fijo del contenedor del título */
    color: white; /* El color del texto es blanco */
    display: flex; /* Usamos flexbox para alinear el contenido */
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
    z-index: 2; /* Asegura que el título esté por encima de otros elementos */
    margin-bottom: 54px;
}


.title-container5 h2{
    font-family: 'Lato', sans-serif;
    text-align: left; 
    font-weight: 500;
}

.container5-caracter3 {
    position: absolute; 
    top: 352px;
    left: 0;
    z-index: 8;
    transition: transform 0.2s ease-out;
}

/* Imagen del personaje */
.container5-caracter3 img {
    width: auto; /* Ajustamos el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: none; /* Permite que la imagen tenga una altura mayor al contenedor */
    transform: translateX(740px); /* Movemos la imagen 86px hacia arriba, para que sobrepase el contenedor */
}

.video-container5 {
    position: absolute;
    top: 526px;
    left: 102px;
    width: 804px;
    height: 452px;
    z-index: 5;
    transition: transform 0.2s ease-out;
}

.video-container5 iframe {
    width: 100%;
    height: 100%;
    border: 29px solid #ffffff;
    border-radius: 50px;
}

.scroll-reveal {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.scroll-reveal.right {
    transform: translateX(100px);
}

.scroll-reveal.top {
    transform: translateY(-100px);
}

.scroll-reveal.bottom {
    transform: translateY(100px);
}

.scroll-reveal.active2 {
    opacity: 1;
    transform: translate(0, 0);
}