body {
  background-color: #ebebeb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

header {
  border: solid;
  background-color: #d9d9d9;
  height: 73px;
}

form {
  margin-top: 10em;
}

p>a {
  color: #fff;
  text-decoration: none;
}

p,
h3 {
  color: white;
  font-family: "Montserrat";
}

#login-button {
  position: relative;
  z-index: 10;
  border-radius: 3px;
  width: 110px;
  height: 35px;
  background-color: #20A53E;
  text-align: center;
}

#login-button>a {
  text-decoration: none;
  color: #fff;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 28em;
  background-color: rgba(1, 1, 0, 0.8);
}

input {
  width: 15em;
  margin-bottom: 15px;
  margin-left: 15px;
}

#form-title {
  text-align: center;
}

#login-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register-gfb-buttons {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.fb-btn {
  display: flex;
  background: #4267b2;
  color: white;
  margin-left: 5px;

}

#fb-img {
  width: 24px;
  height: 24px;
  padding-right: 16px;

}

.google-btn {
  display: flex;
  justify-content: space-between;
  color: #757575;
  background-color: white;
  width: 178px;
  margin-right: 5px;
}



footer {
  display: flex;
  background-color: #d9d9d9;
  height: 350px;
  margin-top: 15em;
}

.header {
  position: absolute;

}


.header-content {
  width: 119px;
  height: 126px;
  position: absolute;
  left: 100px;
  top: 49px;
}

.header-title {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  position: absolute;
  font-family: Montserrat;
  font-size: 16px;
}

.header-subtitle {
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 70px;
  font-family: Montserrat;
}

.section {

  position: absolute;
  left: 349px;
  top: 49px;
}

.section-title {

  position: absolute;
  left: 0;
  font-weight: bold;
}

.section-title span {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.section-links {

  position: absolute;
  left: 0;
  top: 50px;
}

.section-links span {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
}

.socials {
  width: 78px;
  height: 22px;
  position: absolute;
  left: 63px;
}

.socials span {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
}

.support {
  width: 105px;
  height: 161px;
  position: absolute;
  left: 1000px;
  top: 46px;
}

.support-title {
  width: 130px;
  height: 35px;
  font-weight: bold;
  position: absolute;
  left: 400px;
}

.support-title span {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
}

.support-links {
  width: 105px;
  height: 119px;
  position: absolute;
  left: 400px;
  top: 50px;
}

.support-links span {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
}

.company-info {
  width: 105px;
  height: 161px;
  position: absolute;
  left: 1600px;
  top: 40px;
}

.company-title {
  width: 130px;
  height: 35px;
  font-weight: bold;
  position: absolute;
  top: 0;
}

.company-title span {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;

}

.company-links {
  width: 105px;
  height: 119px;
  position: absolute;
  top: 50px;
}

.company-links span {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
}

.third-party-notices {
  width: 168px;
  height: 21px;
  position: absolute;
  left: 1600px;
  top: 301px;
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
}

.trademarks {
  width: 156px;
  height: 21px;
  position: absolute;
  left: 1350px;
  top: 301px;
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
}

.footer-title {
  width: 144px;
  height: 20px;
  position: absolute;
  left: 910px;
  top: 301px;
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
}

#legal-advise {
  width: 335px;
  height: 21px;
  position: absolute;
  left: 345px;
  top: 301px;
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
}

#privacy-cookies {
  width: 335px;
  height: 21px;
  position: absolute;
  left: 90px;
  top: 301px;
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
}

#social-media {
  display: flex;
  flex-direction: column;
  width: 1800px;
  height: 230px;
  align-items: center;
  justify-content: end;
  justify-content: space-around;
}


.socialmedia-logo {
  width: 24px;
  height: 24px;
}

#discord {
  display: flex;
  align-items: center;
  justify-content: end;

  width: 260px;
}

#instagram {
  display: flex;
  align-items: center;
  justify-content: end;

  width: 195px;
}

#facebook {
  display: flex;
  align-items: center;
  justify-content: end;

  width: 220px;
}

.logo-text {
  margin-left: 10px;
}

.btn>p {
  font-size: 14px;
  color: #000;
  margin-left: 5px;
}

.btn {
  display: inline-block; 
  width: 110px; 
  height: 35px; 
  border-radius: 3px;
  background-color: #20A53E;
  color: #fff;
  text-align: center;
  line-height: 35px; 
  text-decoration: none; 
  cursor: pointer; 
}


.btn:after,
.btn:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0 solid #fff;
  transition: all 1s;
}

.btn:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}

.btn:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
}

.btn:hover {
  color: #fff;
}

.btn:hover:before,
.btn:hover:after {
  width: 100%;
  height: 100%;
  border-color: #fff;
}